* {
    font-family: 'Irish Grover', sans-serif;
    margin: 0;
    padding: 0;
}
.modo-botao {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dark-mode {
    background-color: aliceblue;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}
.title {
        position: absolute;
        top: 20px; 
        left: 10px; 
}

h1 {
    font-size: 70px;
    margin-bottom: 5px;
    color: aliceblue;
}

h2 {
    margin-left: 65px;
    font-size: 65px;
    color: aliceblue;
}
img {
    position: absolute; 
    bottom: 9px;
    left: 250px; 
}
.content{
    padding: 15px;
    border-radius: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.purple-box{
    background-color: #D8D3FF;
    padding: 20px;
    border-radius: 10px;
}
.select {
    display: flex;
    gap: 4px;
    color: #561EA3;
}

select {
    width: 50%;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
}

.purple-select {
    background-color: #561EA3;
    color: white;
}


.translator-box {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

textarea {
    width: 50%;
    font-size: 20px;
    outline: none;
}

button {
    background-color: #561EA3;
    color: aliceblue;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 24px;
    padding: 15px 30px;
    margin-top: 20px;
    align-self: center;
    display: block;
}




